html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0
}

body {
    padding: 20px;
    text-align: justify;
}

header p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

header ul {
    margin-bottom: 20px;
}
header ul li {
    font-size: 18px;
    font-style: italic;
}

aside h2 {
    font-size: 26px;
    margin: 20px 0;
}

aside ul li {
    font-size: 17px;
    line-height: 30px;
}

article h1 {
    font-size: 30px;
}

article p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 16px;
}

footer h3 {
    font-size: 24px;
    margin: 30px 0 20px;
}

footer p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 16px;
}