* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

fieldset {
  margin: 20px 0;
}

label {
  padding: 5px;
}

/* .name-form {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
} */