[submodule "01-fundamentos/bloco6-html-e-css-forms-flexbox-e-responsivo/dia3-introducao-css-flexbox-parte1/01-fundamentos/bloco6-html-e-css-forms-flexbox-e-responsivo/dia3-introducao-css-flexbox-parte1/exercise-tech-gallery"]
	path = 01-fundamentos/bloco6-html-e-css-forms-flexbox-e-responsivo/dia3-introducao-css-flexbox-parte1/01-fundamentos/bloco6-html-e-css-forms-flexbox-e-responsivo/dia3-introducao-css-flexbox-parte1/exercise-tech-gallery
	url = https://github.com/GJMKauer/Exercicios-da-Trybe
