[submodule "02-front-end/bloco11-componentes-com-estado-eventos-e-formularios-com-react/dia1-componentes-com-estado-e-eventos/exercise-pokedex-state"]
	path = 02-front-end/bloco11-componentes-com-estado-eventos-e-formularios-com-react/dia1-componentes-com-estado-e-eventos/exercise-pokedex-state
	url = /home/gjmkauer/Documentos/trybe-exercicios/02-front-end/bloco11-componentes-com-estado-eventos-e-formularios-com-react/dia1-componentes-com-estado-e-eventos/exercicios-dia/exercise-pokedex-state/
