@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

body {
  font-family: "Didact Gothic";
  background-image: url(https://img.wallpapic-br.com/i0130-119-63/thumb/abstratos-azuis-aqua-turquesa-imagem-de-fundo.jpg);
  background-color: rgba(255, 255, 255, 0.65);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  padding: 10px;
  border: 2px solid green;
}
a {
  text-decoration: none;
}
#stomatopoda {
  margin-left: 95px;
}
#aquarium {
    margin-left: 95px;
}
#colors {
    margin-left: 95px;
}
#nightmare {
    margin-left: 95px;
}
table {
  background-color: #eddea4;
  border-radius: 10px;
  margin-left: 100px;
}
td,
th {
  border: 1px solid black;
  padding: 5px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
header h2 {
  padding: 30px 0px 0px 0px;
}
header h1 {
  border: 2px solid green;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #eddea4;
  font-size: 35px;
}
nav ul li {
  display: inline-block;
}
#menu {
  text-align: center;
  word-spacing: 80px;
}
p {
  text-align: justify;
}
footer p:nth-of-type(1) {
  padding: 30px 0px 0px 0px;
}
footer,
footer p:nth-of-type(2) {
  text-align: center;
}
h4 {
  padding: 30px 0px 0px 0px;
}
