body {
    background-image: url(https://img.wallpapic-br.com/i0130-119-63/thumb/abstratos-azuis-aqua-turquesa-imagem-de-fundo.jpg);
    background-color: rgba(255,255,255,0.65);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    padding: 10px;
}
header h1 {
    border: 2px solid green;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #eddea4;

}
nav ul li {
    display: inline-block;
}
#menu {
    text-align: center;
    word-spacing: 80px;
}
p {
    text-align: justify;
}