body {
  margin-left: 20px;
}

/* #color-palette :first-child {
  background-color: black;
}

#color-palette :nth-child(2) {
  background-color: red;
}

#color-palette :nth-child(3) {
  background-color: blue;
}

#color-palette :nth-child(4) {
  background-color: green;
} */

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  padding: 2px;
  margin-left: 7px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  margin: -2px 0px;
  background-color: white;
}

#clear-board {
    background-color: rgb(66, 129, 113);
    color: rgb(1, 7, 19);
    font-size: 22px;
    font-family: monospace;
    border-radius: 10px;
}