.login-page-container {
  align-items: center;
  background-color: #747474;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 175px;
  margin: auto;
  width: 350px;
}

.login-information-container {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 25px;
}

.login-information-container input {
  border-radius: 10px;
  margin: 15px 0 15px 15px;
  padding: 5px;
  width: 220px;
}

.name-label {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.email-label {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.buttons-container {
  display: flex;
  margin: 0 0 15px 10px;
  width: 335px;
}

button {
  background-color: #f0f9ff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  margin: 15px 10px 0;
  padding: 5px;
  text-transform: uppercase;
  width: 140px;
}

button:hover {
  background-color: #373737;
}
