* {
  margin: 0;
  font-family: Harry Potter, sans-serif;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#botao {
  font-family: Harry Potter, sans-serif;
}

.header h1 {
  align-self: center;
  font-size: 25px;
  font-family: Harry Potter, sans-serif;
}

.trybewarts-login {
  display: flex;
  align-self: center;
}

.trybewarts-login input {
  margin-right: 15px;
  font-family: Harry Potter, sans-serif;
}

.main-container {
  display: flex;
  width: 675px;
  padding: 20px;
  margin-top: 50px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  margin: 80px 80px 185px;
}

.nome-sobrenome {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 675px;
}

.nome-sobrenome input {
  font-family: Harry Potter, sans-serif;
}

.email-house input {
  width: 308px;
  margin-left: 10px;
  margin-right: 40px;
  font-family: Harry Potter, sans-serif;
}

.flex-label input {
  margin-right: 10px;
}

.flex-boxes input {
  flex-direction: row;
  margin-top: 20px;
  margin-right: 10px;
}

.nome-sobrenome input:nth-of-type( 1 ) {
  margin-right: 40px;
}

#house {
  font-family: Harry Potter, sans-serif;
  width: 256px;
}

.email-house {
  display: flex;
  flex-direction: row;
  width: 675px;
}

.email-house select {
  width: 313px;
  margin-right: 10px;
  text-align-last: center;
  align-self: center;
}

.house-label {
  align-self: center;
  font-size: 24px;
  margin: 8px 5px 0 0;
}

.form-header-container {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  border-width: 2px;
  width: 675px;
}

#container-opcoes {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  border-width: 2px;
  display: flex;
  width: 675px;
}

#label-family {
  padding-left: 20px;
}

.flex-label {
  display: flex;
  padding: 20px 0 0 20px;
}

.flex-boxes {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  justify-content: center;
}

#container-materias {
  display: flex;
  width: 240px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.label-para-sumir {
  display: none;
}

#label-rate , #label-textarea {
  margin: 20px 0 0;
  width: 300px;
}

#container-avaliacao {
  display: flex;
  margin: 20px 0 0 10px;
  width: 450px;
  justify-content: space-between;
}

#container-avaliacao input {
  margin-right: 5px;
}

.label-avaliacao-container {
  display: flex;
  width: 650px;
}

.textarea2 {
  resize: none;
  margin: 5px;
  border-radius: 6px;
  width: 645px;
  font-family: Harry Potter, sans-serif;
  text-indent: 10px;
  margin-bottom: 25px;
}

#counter {
  position: absolute;
  margin-top: 487px;
  margin-left: 620px;
}

.concorda-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 650px;
}

#label-infos {
  padding-left: 15px;
}

#agreement {
  margin-left: 10px;
}

#submit-btn {
  width: 300px;
  margin: auto;
}

#footer {
  background-color: rgb(39, 37, 37);
  color: white;
  text-align: right;
  font-size: 24px;
  line-height: 2.5;
  padding-right: 40px;
}
