.super-mario {
  width: 200px;
  position: absolute;
  z-index: 2;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 1;
  left: 60px;
  top: 380px;
}

.baloon {
    position: absolute;
    top: 80px;
    left: 200px;
    z-index: 3;
}

.speach {
  font-size: 25px;
    position: absolute;
    z-index: 5;
    left: 220px;
    top: 123px;
}

.bowser {
  width: 400px;
  position: absolute;
  left: 500px;
  top: 150px;
  z-index: 4;
}
